
    {{> header }}
    
 <!-- Header -->
    <header class="header header-inverse" style="background-color: #243949;">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <h1>Simple Pricing</h1>
            <br>
            <p class="fs-20 opacity-70">No set up cost with Pie.NG. We only charge for successful transactions</p>
          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->




    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Pricing
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">

          <div class="row gap-y text-center">
            
            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Wallet</p>
                <br>
                <h2 class="price"><span class="price-unit">₦</span> 100</h2>
                <br>

                <small>0 setup cost</small><br>
                <small>24/7 support</small><br>
                <small></small><br>
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="/dashboard/account/sign-up">Get started</a></p>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Bank Transfer</p>
                <br>
                <h2 class="price text-success"><span class="price-unit">₦</span> 100</h2>
                <br>

                <small>0 setup cost</small><br>
                <small>24/7 support</small><br>
                <small></small><br>
                <br>
                <p class="text-center py-3"><a class="btn btn-success" href="/dashboard/account/sign-up">Get started</a></p>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Card</p>
                <br>
                <h2 class="price"><span class="price-unit">₦</span> 100 + <span class="price-unit">%</span> 1.5</h2>
                <br>

                <small>0 setup cost</small><br>
                <small>24/7 support</small><br>
                <small></small><br>
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="/dashboard/account/sign-up">Get started</a></p>
              </div>
            </div>

          </div>


        </div>
      </section>








      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | FAQ
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Faq</small>
            <h2>Frequently Asked Questions</h2>
            <hr>
            <p class="lead">Drop us an email at team@pie.ng if you couldn't find an answer to your question in the following list.</p>
          </header>


          <div class="row gap-y gap-3">

            <div class="col-12 col-md-6 col-lg-4">
              <h6 class="fw-400">What is Pie.NG?</h6>
              <p>Pie.NG is a solution that allows you to collect and send money online without stress</p>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <h6 class="fw-400">How long does it take to have Pie.NG up?</h6>
              <p>Setting up a payment channel has never been easier! To have Pie.NG up and running, create an account, include our JS in your page and you are good to go</p>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <h6 class="fw-400">What payment services do you support?</h6>
              <p>We accept all major credit cards, direct bank account transfers and wallet.</p>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <h6 class="fw-400">Can Pie.NG handle recurring billing for me?</h6>
              <p>No. Pie.NG will support recurring billings and subscriptions soon.</p>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
              <h6 class="fw-400">Can I withdraw funds in my wallet?</h6>
              <p>Absolutely. You can always transfer funds from your wallet to your bank account or walk into any of our partner banks and make a direct cash withdrawal.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <h6 class="fw-400">Other questions?</h6>
              <p>We're always available at support@pie.ng</p>
            </div>

          </div>


        </div>
      </section>

    </main>
    <!-- END Main container -->



    {{> footer }}