
/**! 12. Form Elements **/

form {
  max-width: 100%;
}

form+form {
  margin-top: 30px;
}

form:before,
form:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

form:after {
  clear: both;
}

label {
  margin: 0;
  font-size: 1.14285714em;
  font-weight: 400;
}

input[type],
textarea,
select,
.form-input {
  -webkit-appearance: none;
  background: #fcfcfc;
  padding: 0.46428571em;
  border-radius: 6px;
  border: 1px solid #ececec;
}

input[type]:focus,
textarea:focus,
select:focus,
.form-input:focus,
.form-input-focus {
  outline: none;
}

input[type]:active,
textarea:active,
select:active,
.form-input {
  outline: none;
}

input[type]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
.form-input::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 1.14285714em;
}

input[type]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  /* Firefox 18- */
  color: #b3b3b3;
  font-size: 1.14285714em;
}

input[type]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
.form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #b3b3b3;
  font-size: 1.14285714em;
}

input[type]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 1.14285714em;
}

input[type="image"],
.form-input[class="form-input-image"] {
  border: none;
  padding: none;
  width: auto;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
}

select {
  cursor: pointer;
  padding-right: 1.85714286em;
  -webkit-appearance: none;
}

select::ms-expand {
  display: none;
}

input[type="submit"] {
  background: none;
  outline: none;
  border: none;
  background: #4a90e2;
  padding: 0.46428571em 2.78571429em 0.46428571em 2.78571429em;
  color: #fff;
}

@keyframes load {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    width: 100%;
    opacity: .8;
    left: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

button {
  background: none;
}

button[type="submit"].btn--loading {
  position: relative;
  overflow: hidden;
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}

button[type="submit"].btn--loading * {
  opacity: 0;
}

button[type="submit"].btn--loading:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: #ddd;
  animation: load 1.5s ease-out infinite;
  left: 0;
  top: 0;
}

button[type="submit"].btn--loading .btn__text {
  opacity: 0;
}

button:focus {
  outline: none !important;
}

button.bg--error {
  color: #fff;
}

.input-icon {
  position: relative;
}

.input-icon i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
}

.input-checkbox,
.input-radio,
.input-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

.input-checkbox input,
.input-radio input,
.input-select input {
  display: none !important;
}

.input-checkbox label,
.input-radio label,
.input-select label {
  display: block !important;
  cursor: pointer;
}

.input-checkbox {
  padding: 0;
}

.input-checkbox label {
  width: 1.85714286em;
  height: 1.85714286em;
  border-radius: 6px;
  background: #000;
}

.input-radio {
  padding: 0;
}

.input-radio label {
  width: 1.85714286em;
  height: 1.85714286em;
  border-radius: 50%;
  background: #000;
}

.input-select {
  position: relative;
}

.input-select i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 1em;
  font-size: .87em;
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file input {
  display: none;
}

.form-error {
  margin-top: 1.5625em;
  padding: 0.78125em;
  background: #D84D4D;
  color: #fff;
  position: fixed;
  min-width: 350px;
  left: 50%;
  bottom: 1.5625em;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  z-index: 999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.form-success {
  margin-top: 1.5625em;
  padding: 0.78125em;
  background: #1DC020;
  color: #fff;
  position: fixed;
  min-width: 350px;
  left: 50%;
  bottom: 1.5625em;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  z-index: 999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.attempted-submit .field-error {
  border-color: #D84D4D !important;
}

.attempted-submit div.recaptcha.field-error {
  border-color: #D84D4D !important;
  border-style: solid;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

div.recaptcha iframe {
  min-height: 0;
}

