<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Pie.NG - {{title}}</title>

    <!-- Styles -->
    <link href="/static/css/core.min.css" rel="stylesheet">
    <link href="/static/css/thesaas.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/prism.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="/assets/img/favicon.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="Pie.ng">
    <meta property="og:description" content="Payment solutions built for humans">
    <meta property="og:image" content="https://pie.ng/static/img/logo.png">
    <meta property="og:url" content="https://pie.ng/">
    <meta name="twitter:card" content="summary_large_image">
  </head>

  <body class="">
      
    {{{body}}}
    
    <!-- Scripts -->
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/thesaas.min.js"></script>
    <script src="/static/js/clipboard.min.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="https://pie.ng/js"></script>
    <script src="/static/js/payment.js"></script>
  </body>
</html>