
    <!-- Topbar -->
    <nav class="topbar topbar-expand-md topbar-sticky {{navClass}}">
      <div class="container">
        
        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="/">
            <img class="logo-default" src="/static/img/logo.png" alt="logo">
            <img class="logo-inverse" src="/static/img/logo.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item">
              <a class="nav-link" href="/pricing">Pricing</a></li>
            
            <li class="nav-item">
              <a class="nav-link" href="https://medium.com/@Pie.NG">Blog</a></li>
            {{!--<li class="nav-item">--}}
            {{!--  <a class="nav-link" href="#">Features <i class="fa fa-caret-down"></i></a>--}}
            {{!--  <div class="nav-submenu">--}}
            {{!--    <a class="nav-link" href="header-color.html">Solid Color</a>--}}
            {{!--    <a class="nav-link" href="header-gradient.html">Gradient</a>--}}
            {{!--    <a class="nav-link" href="header-particle.html">Particle</a>--}}
            {{!--    <a class="nav-link" href="header-typing.html">Typing Text</a>--}}
            {{!--    <a class="nav-link" href="header-image.html">Background Image</a>--}}
            {{!--    <a class="nav-link" href="header-video.html">Background Video</a>--}}
            {{!--    <a class="nav-link" href="header-parallax.html">Parallax</a>--}}
            {{!--    <a class="nav-link" href="header-slider.html">Slider</a>--}}
            {{!--  </div>--}}
            {{!--</li>--}}

            <li class="nav-item">
              <a class="nav-link" href="/docs">Documentation </a>
            </li>
            {{!--<li class="nav-item">--}}
            {{!--  <a class="nav-link" href="#">Documentation <i class="fa fa-caret-down"></i></a>--}}
            {{!--  <div class="nav-submenu">--}}
            {{!--    <a class="nav-link" href="/docs/#get-started">Setting Up</a>--}}
            {{!--    <a class="nav-link" href="/docs/#accept-payment">Accept Payment</a>--}}
            {{!--    <a class="nav-link" href="/docs/#verify-payment">Verify Payment</a>--}}
            {{!--  </div>--}}
            {{!--</li>--}}
          </ul>
          <a class="hidden-sm-down" style="padding: 0 40px 0 40px">&nbsp;</a>
          <a class="btn btn-sm btn-white mr-4" href="/dashboard/account/login">Login</a>
          <a class="btn btn-sm btn-outline btn-grey hidden-sm-down" href="/dashboard/account/sign-up">Register</a>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->